* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-black: #0c0c0c;
    --color-gray: #454b57;
    --color-dark-gray: #29303f;
    --color-red: #f0003c;
    --color-white: #fff;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Quicksand', sans-serif;
    background: var(--color-black);
    color: var(--color-white);
}

ul {
    list-style-type: none;
    padding: 0 1.5rem 0 1rem;
    line-height: 3rem;
}

li {
    white-space: nowrap;
}

i {
    margin-right: 1rem;
}

h1 {
    font-size: 1.8rem;
}

header {
    margin-bottom: 1rem;
    display: flex;
    height: 4.5rem;
    justify-content: space-between;
    position: fixed;
    z-index: 44444;
}



#hamburgerMenu {
    margin: 1rem 0 0 5rem;
    color: var(--color-white);
    background: var(--color-dark-gray);
    font-size: 1.8rem;
    z-index: 2;
    border-radius: 50%;
    padding: 0.6rem 0.8rem 0.8rem 1.1rem;
    width: 3.4rem;
    transition: .4s ease;
}

#hamburgerMenu:hover,
nav a:hover {
    color: var(--color-red);
}


nav {
    position: fixed;
    top: 0;
    height: 100vh;
    background: var(--color-dark-gray);
    color: var(--color-white);
    transform: translateX(-100%);
    padding-top: 6rem;
    transition: transform 350ms ease-in-out;
}

nav a {
    color: var(--color-white);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.3rem;
    transition: .4s ease;
}

main {
    text-align: center;
height: 1000px;
padding-top: 3rem;
}

main h1 {
    margin: 0 1rem;
    font-size: 3rem;
}

.menu-active {
    transform: translateX(0);
}

img {
    width: 200px;
}
#products {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
 flex-wrap: wrap;
    align-items: center;
}

.products__card {
    width: 270px;
    background: var(--color-gray);
    border-radius: 5px;
    overflow: hidden;margin: 2rem;
   
}
.products__card h2 {
    color: var(--color-white);
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.products__card p {
    margin-bottom: 1rem;
}
.products__card h3 {
    margin-bottom: 1rem;
}
.products__card img {
    width: 100%;
}
.btn {
    border: none;
    background: var(--color-red);
    color: var(--color-white);
    padding: .3rem 1.2rem;
    font-size: 1.3rem;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 0 auto;
    text-decoration: none;
    width: 70%;
    margin-bottom: 2rem;
    transition: .3s ease;
}
.btn:hover {
    background-color: #f0003caa;
}
.btn:active {
    transform: scale(.9);
}

.btn i {
    font-size: 2.4rem;
}